<% content_for :title, "Eyng's Market" %>
<section class='profile'>
  <header>
    <div>
      <h1>Olá <span class='user'></span>,</h1>
    </div>
  </header>
  <div class='meus-pedidos'>
    <h3>Histórico de Pedidos</h3>
    <ul>
      <li class='product-info'>
        <div>
          <%= image_tag 'lapis.jpg' %>
          <p>Lápis de cor Faber Castel - 12 cores</p>
        </div>
      </li>
      <li class='product-info'>
        <div class='product-info'>
          <%= image_tag 'planet.jpg' %>
          <p>Planeta Terra</p>
        </div>
      </li>
    </ul>
  </div>
  <div class='meus-dados'>
    <h3>Meus Dados</h3>
    <ul>
      <h4>Endereço</h4>
      <li>Rua Dr. Sergio Meira, nº 230</li>
      <li>Barra Funda, São Paulo - SP</li>
    </ul>
  </div>
</section>
<% content_for :javascripts do %>
  <script>
    $(function () {
      var userName = $.cookie('user_name') ? $.cookie('user_name') : 'TESTE WALMART',
          userNameHolder = $('.profile .user');

      userNameHolder.text(userName);
    });
  </script>
<% end %>
