<% content_for :title, "Eyng's Market" %>
<section>
  <div class='user-name'>
    <input name='user' type='text' ng-model='name' placeholder='Type your name'>
  </div>
</section>
<section class='welcome'>
  <header>
    <div>
      <h1>Olá {{name}}, bem-vindo ao Eyng's Market</h1>
      <p>Aqui você encontra todos os produtos que desejar. Desde uma simples borracha até seu próprio planeta!</p>
      <p>Fique à vontade e boas compras!</p>

      <%= link_to "Lista de produtos pedidos", ordered_products_page_path, class: 'confirm' %>
    </div>
  </header>
</section>
<footer>
  <p class='copyright'>Todos os direitos reservados</p>
</footer>
