<section class='checkout'>
  <h1>Endereço de entrega</h1>
  <div class='addresses'>
    <ul>
      <li class='default-address'>
        <div class='address-holder address-cep'>
          <label>CEP:</label><span class='cep'>01153-010</span>
        </div>
        <div class='address-holder address'>
          <label>Endereço:</label><span>Rua Dr. Sérgio Meira</span>
        </div>
        <div class='address-holder address-number'>
          <label>nº:</label><span>230</span>
        </div>
        <div class='address-holder'>
          <label>Bairro:</label><span>Barra Funda De Pirapora</span>
        </div>
        <div class='address-holder'>
          <label>Cidade:</label><span>São Paulo</span>
        </div>
        <div class='address-holder'>
          <label>Estado:</label>
          <select disabled=true>
            <option value="sao-paulo">São Paulo</option>
          </select>
        </div>
      </li>
    </ul>

    <div class='confirm-action'>
      <%= link_to 'Confirmar', profile_page_path, class: 'confirm-orders' %>
    </div>
  </div>
</section>
