<% content_for :title, "Meus Pedidos" %>
<section class='orders'>
  <div class='title'>
    <h1>Meu carrinho</h1>
  </div>
  <div class='products-holder'>
    <header>
      <ul class="products-header">
        <li class="products-header-item header-products">produto(s)</li>
        <li class="products-header-item header-quantity">quantidade</li>
        <li class="products-header-item header-total">total</li>
      </ul>
    </header>
    <ul class='my-products'>
      <li class='product'>
        <ul class='products-info'>
          <li class='product-item description'>
            <div class='info'>
              <%= image_tag 'lapis.jpg' %>
              <h3>Lápis de Cor</h3>
              <p class='product-description'>Lápis Faber Castel - 12 cores</p>
            </div>
          </li>
          <li class='product-item quantity'>
          <p><span ng-click="count = count - 1" ng-init="count=1" class='quantity-control remove'>-</span>{{count}}<span ng-click="count = count + 1" ng-init="count=1" class='quantity-control add'>+</span></p>
          </li>
          <li class='product-item price'>
            <p>R$ 10,00</p>
          </li>
        </ul>
      </li>
      <li class='product'>
        <ul class='products-info'>
          <li class='product-item description'>
            <div class='info'>
              <%= image_tag 'planet.jpg' %>
              <h3>Planeta Terra</h3>
              <p class='product-description'>Planeta Terra - C/ Pequenos Defeitos</p>
            </div>
          </li>
          <li class='product-item quantity'>
            <p><span class='quantity-control remove'>-</span>1<span class='quantity-control add'>+</span></p>
          </li>
          <li class='product-item price'>
            <p>R$ 49,70</p>
          </li>
        </ul>
      </li>
    </ul>

    <div class='confirm-action'>
      <%= link_to 'Finalizar pedido', checkout_page_path, class: 'confirm-orders' %>
    </div>
</section>
