.checkout {
  width: 980px;
  margin: 0 auto;
}

.addresses {
  border: 1px solid $border-color;
  border-radius: 5px;
  padding: 20px;

  label {
    margin-right: 5px;
  }

  .address-holder {
    display: inline-block;
    margin: 10px;
  }

  .address-cep {
    width: 100%;
  }

  .address {
    clear: both;
    width: 500px;

    input {
      width: 410px;
    }
  }

  .address-number {
    width: 200px;
  }
}
