.orders {
  width: 980px;
  margin: 0 auto;
}

.products-holder {
  border: 1px solid $border-color;
  border-radius: 5px;
}

.products-header {
  background: #d6d6d6;
  border-radius: 5px 5px 0 0;
  margin: 0;
  padding: 16px;

  .products-header-item {
    display: inline-block;
    vertical-align: middle;
  }

  .header-products {
    width: 60%;
  }

  .header-quantity {
    width: 15%;
  }
  
  .header-total {
    width: 15%;
  }
}

.my-products .product {
  border-top: 1px solid $border-color;
  margin-top: 5px;

  &:first-child {
    border-top: none;
  }

  .product-item {
    display: inline-block;
    vertical-align: middle;
  }
}

.products-info {
  padding: 10px;
}

.product-item.description {
  width: 60%;

  img {
    float: left;
    margin-right: 20px;
    width: 96px;
  }
}

.product-item.quantity, .product-item.price {
  width: 15%;
  font-size: 18px;
}

.product-item.quantity {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.quantity-control {
  display: inline-block;
  width: 20px;
  color: #fff;
  border: 1px solid #fefefe;
  border-radius: 4px;
  text-align: center;
  background: $button-color;
  cursor: pointer;
  margin: 5px;
}

.confirm-action {
  text-align: right;
  padding: 20px;

  .confirm-orders {
    display: inline-block;
    margin-top: 20px;
    border: 1px solid $border-color;
    color: #fff;
    padding: 10px;
    border-radius: 4px;
    background: $button-color;

    &:hover {
      text-decoration: none;
      color: #fff;
    }
  }
}
