.profile {
  width: 980px;
  margin: 0 auto;

  h3 {
    color: #fff;
    background: $button-color;
    margin: 0;
    padding: 10px;
    margin-bottom: 15px;
  }
  
  ul {
    padding: 0;
  }
}

.meus-pedidos, .meus-dados {
  border: 1px solid $border-color;
  border-radius: 5px;

  h4 {
    padding: 0 10px;
  }
  
  li {
    padding: 0 20px;
  }
}

.meus-pedidos {
  .product-info {
    margin-top: 10px;
    border-top: 1px solid $border-color;

    &:first-child {
      border-top: none;
      margin-top: none;
    }
  }

  img, p {
    display: inline-block;
  }

  img {
    width: 96px;
    margin-right: 10px;
  }
}

.meus-dados {
  margin-top: 20px;
}
