.welcome {
  background: image-url('planet_bg.jpg') no-repeat scroll 0 0 transparent;
  background-size: cover;
  min-height: 600px;
  color: #fff;
}

footer {
  background: #1e61a2;
  color: #fff;
  height: 50px;
  
  p {
    text-align: center;
    line-height: 50px;
  }
}
