<!doctype html>
<html ng-app>
  <head>
    <title><%= yield(:title) %></title>

    <% unless params[:controller] == 'static' -%>
      <%= tag 'meta', name: 'description', content: yield(:description) %>
    <% end -%>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= yield :meta_tags %>
    <%= stylesheet_link_tag 'application' %>

    <%= yield :head_javascripts %>

    <%= yield :stylesheets %>
  </head>
  <body>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <%= yield(:javascripts) %>
  </body>
</html>
